<div class="main">
<p class="create">
  Create an account
</p>
  <p class ="notice">
    It's free and always will be.
  </p>

<div class="formatingDiv">
  <input class="firstame" placeholder="First Name">
  <input class="surname" placeholder="Surname">
  <br>
  <br>
  <input class="mobile" placeholder="Mobile number or email address">
  <br>
  <br>
  <input class="newpassword" placeholder="New password">

  <p>
    Birthday
  </p>


  <input type="date" name="bday">
  <br>
  <br>
  <input type="radio" >


    Male
  <br>

  <input type="radio" >


    Female

</div>>

</div>
